/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 62.5%;
  background-image: url("./assets/background-img.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Nav bar */
.nav {
  width: 100%;
  background-color: #ff9b9b;

  --icon1: scale(1);
  --icon2: scale(0);
}
.nav:has(.dropdown:target) {
  --icon1: scale(0);
  --icon2: scale(1);
  --clip: inset(0 0 0 0);
}
.nav__container {
  display: grid;
  grid-template-columns: max-content max-content;
  grid-template-areas: "logo menu";
  justify-content: space-between;
  align-items: center;

  width: 90%;
  height: 60px;
  margin: 0 auto;

  overflow: hidden;
}
.nav__logo {
  grid-area: logo;
  font-size: 1.6em;
  color: #fff;
}

.nav__menu {
  position: relative;
  grid-area: menu;
  z-index: 2;
  transform: var(--icon1);
}
.nav__menu--second {
  transform: var(--icon2);
}
.nav__icon {
  display: block;
  width: 30px;
}



/* Dropdown menu */
.dropdown {
  position: absolute;
  display: grid;
  align-content: center;
  gap: 6em;
  background-color: #ffdede;
  width: 85%;
  max-width: 300px;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 0 2em ;
  clip-path: var(--clip, inset(0 0 100% 100%));
  transition: clip, 0.6s;
  overflow-y: auto;
}
.dropdown__list {
  list-style: none;
}
.dropdown__list:has(:checked){
  --row: grid-template-rows: 1fr;
  --rotate: rotate(180deg);
  --bg:  #ff9b9b;
}
.dropdown__link {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1.5em;
padding: 10px;
  font-size: 1.8em;
  text-decoration: none;
  border-radius: 6px;
  color: #3aa6b9;
  background-color: var(--bg, transparent);
}

.dropdown__check {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.dropdown__content {
  display: grid;
  grid-template-rows: var(--row, 0fr);
  transition: .3s grid-template-rows;

}
.dropdown__sub {
  overflow: hidden;
}

.dropdown__li {
  width: 85%;
  list-style: none;
  margin-left: auto;
}
.dropdown__arrow {
  margin-left: auto;
  transform: var(--rotate, 0);
  transition: .5s transform;
}
.anchor {
  display: block;
  padding: 1em 0;
  font-size: 1.5em;
  text-decoration: none;
  color: #3aa6b9;
}
